# General
.DS_Store
.AppleDouble
.LSOverride

# Icon must end with two \r
Icon

# Thumbnails
._*

# Files that might appear in the root of a volume
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns
.com.apple.timemachine.donotpresent

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk

# My Ignore
.idea
bin
matlab/codegen/lib/*
matlab/codegen/mex
matlab/coef_list.m
matlab/total_cost.m
matlab/final_*
matlab/j_opt.m
matlab/a_opt.m
matlab/s_opt.m

cmake-build-release
cmake-build-debug
Icon

